@import url('https://fonts.googleapis.com/css2?family=Delius+Unicase:wght@400;700&display=swap');

:root {
    --bg-color: #761ca3;
    --bg-color-gradient: linear-gradient(90deg,rgba(118, 28, 163, 1) 0%, rgba(227, 132, 186, 1) 100%, rgba(139, 83, 237, 1) 80%);
    --text-color: #000; 
    --active-link: rgb(30, 123, 205);
    --link-hover: #41b9f1;
}

body.dark-theme {
    --bg-color: #001a9e;
    --bg-color-gradient: radial-gradient(circle,rgba(0, 26, 158, 1) 0%, rgba(0, 0, 0, 1) 100%);
    --text-color: #fff;
    --active-link: rgb(214, 121, 15);
    --link-hover: #b88b23;

}

body {
    background: var(--bg-color);
    background: var(--bg-color-gradient);
    color: var(--text-color);
    transition: background-color 0.5s ease, color 0.5s ease;
}

.active {
    color: var(--active-link);
}

.text {
    color: var(--text-color);
}

.liquid-mirror {
  background-color: rgba(250, 250, 250, 0.416);
}