.theme-toggle {
    background: none;
    border: solid 1px #fff;
    cursor: pointer;
    color: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.theme-btn {
    font-size:larger;
    color: var(--text-color);
    border-color: var(--text-color);
    border-radius: 8px;
}

.theme-btn:hover {
    background-color: var(--bg-color);
    transition: background 0.3s, color 0.3s;
}